azure-pipeline/pipeline/NounsJsontoMongo.json
{
	"name": "NounsJsontoMongo",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set collection name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "MongoDbAtlasSink",
						"writeBatchTimeout": "00:30:00",
						"writeBehavior": "insert"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "JsonSourceDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SinkDataset",
						"type": "DatasetReference",
						"parameters": {
							"CollectionName": {
								"value": "@variables('collectionName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set collection name",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "collectionName",
					"value": {
						"value": "@pipeline().parameters.collectionName",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"collectionName": {
				"type": "string",
				"defaultValue": "jsonwithNouns"
			}
		},
		"variables": {
			"collectionName": {
				"type": "String",
				"defaultValue": "withNouns"
			}
		},
		"folder": {
			"name": "TEST"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-30T03:49:03Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}