azure-pipeline/pipeline/SentimentAnalysis_Pipeline_MONOGODB.json
{
	"name": "SentimentAnalysis_Pipeline_MONOGODB",
	"properties": {
		"activities": [
			{
				"name": "Scrape reviews data and save to datalake",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Set Review Url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": " HttpTriggerReviews ",
					"method": "POST",
					"body": {
						"value": "{\"name\":\"@{variables('url')}\"}\n",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureFunction",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sentiment Analysis",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Scrape reviews data and save to datalake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "Cleaned",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "nexuspool",
						"type": "BigDataPoolReference"
					}
				}
			},
			{
				"name": "Set Review Url",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "url",
					"value": {
						"value": "@pipeline().parameters.URL",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy Output CSV to JSON",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Sentiment Analysis",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "review_id_new",
								"value": "$$COLUMN:"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "CleanedCSV",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "arrayOfObjects"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "CSVtoJSONSourceDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CSVtoJSONSinkDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data to MongoDB Database",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Output CSV to JSON",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "MongoDbAtlasSink",
						"writeBatchTimeout": "00:30:00",
						"writeBehavior": "insert"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SourceDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SinkDataset",
						"type": "DatasetReference",
						"parameters": {
							"CollectionName": "reviews"
						}
					}
				]
			}
		],
		"parameters": {
			"URL": {
				"type": "string",
				"defaultValue": "https://www.amazon.in/Samsung-Galaxy-Cloud-128GB-Storage/product-reviews/B08VB57558/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews"
			}
		},
		"variables": {
			"url": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MAIN"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-30T05:28:10Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}