azure-pipeline/pipeline/SentimentAnalysis_Pipeline_MONOGODB.json
{
	"name": "SentimentAnalysis_Pipeline_MONOGODB",
	"properties": {
		"activities": [
			{
				"name": "Web Scrape Reviews - Store in Azure Blob",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Set Review Url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": " HttpTriggerReviews ",
					"method": "POST",
					"body": {
						"value": "{\"name\":\"@{variables('url')}\"}\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Cleaning Scrapped Data",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Web Scrape Reviews - Store in Azure Blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "Cleaned",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			},
			{
				"name": "Set Review Url",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "url",
					"value": {
						"value": "@pipeline().parameters.URL",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy Review Data to MongoDB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Convert To DB Schema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "MongoDbAtlasSink",
						"writeBatchTimeout": "00:30:00",
						"writeBehavior": "insert"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SourceDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SinkDataset",
						"type": "DatasetReference",
						"parameters": {
							"CollectionName": "reviews"
						}
					}
				]
			},
			{
				"name": "Review Language Processing",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Cleaning Scrapped Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "Cleaned",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			},
			{
				"name": "Copy Product Data to MongoDB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Convert To DB Schema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "MongoDbAtlasSink",
						"writeBatchTimeout": "00:30:00",
						"writeBehavior": "insert"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SourceDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SinkDataset",
						"type": "DatasetReference",
						"parameters": {
							"CollectionName": "reviews"
						}
					}
				]
			},
			{
				"name": "Convert To DB Schema",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Review Language Processing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "Cleaned",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			}
		],
		"parameters": {
			"URL": {
				"type": "string",
				"defaultValue": "https://www.amazon.in/Samsung-Galaxy-Cloud-128GB-Storage/product-reviews/B08VB57558/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews"
			}
		},
		"variables": {
			"url": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MAIN"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-30T05:28:10Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}